<nav class="h-100-l w3-l fixed-l top-1-l right-2-l pt4-l i">
  <a class="pv1-l ph1 db-l dib pv2 black link" href="/">About</a>
  <a class="pv1-l ph1 db-l dib pv2 black link" href="/writings.html">Writings</a>
  <a class="pv1-l ph1 db-l dib pv2 black link" href="/readings.html">Readings</a>
  <a class="pv1-l ph1 db-l dib pv2 black link" href="/music.html">Music</a>
  <a class="pv1-l ph1 db-l dib pv2 black link" href="/people.html">People</a>
  <a class="pv1-l ph1 db-l dib pv2 black link" href="/stack.html">Stack</a>
  <a class="pv1-l ph1 db-l dib pv2 black link" href="/misc.html">Misc.</a>
  <a class="pv1-l ph1 db-l dib pv2 black link" href="/">RSS</a> 
</nav> 